

body,
html {
    margin:0; /*vyhodi defaultni odsazeni, co delaji prohlizece*/
                /* tzv. css reset/resety */
    background-color: white;
    text-align: left;
    background-color: #FFDA5D;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background-color: #62C7CB;
    color: white;
    text-shadow: 10px -10px 15px #5A4646;
    font-size: 60px;
    font-weight: 600;
    padding: 80px;
}

table {
    text-align: left;
    style: center;
    padding-left: 30px;
    font-weight: 600;
    color:#5A4646;
}

.btn {
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    background: #C14456;
    padding: 18px 26px 15px 26px;
    border-radius: 6px;
    color: white;
}


